@font-face {
	font-family: "PT Serif";
	src: url("../../assets/fonts/PTSerif-Regular.ttf");
}

@font-face {
	font-family: "PT Serif Bold";
	src: url("../../assets/fonts/PTSerif-Bold.ttf");
}

.list-group-item {
    margin-right: 2%;
    margin-bottom: 20px;
    margin-left: 15px;
}

.book-title {
    font-family: 'PT Serif Bold';
    font-size: 32px;
    width: 100%;
}

.book-container {
    display: flex;
    flex-direction: row;
}

.book-cover{
    width:15%;
    height:15%;
    margin-bottom: 10px;
}

.author {
    font-family: 'PT Serif';
    font-size: 18px;
    display: inline-block;
    
}

.author-name {
    margin-right: 5px;
    display: inline-block;
    text-decoration: underline;

}


.source-code {
    font-family: 'PT Serif';
    font-size: 18px;
    margin-right: 2%;
    color:gray;  
}

.date {
    font-family: 'PT Serif';
    font-size: 18px;
    margin-right: 2%;
}


.description {
    font-family: 'PT Serif';
    font-size: 18px;
    margin-right: 2%;
}