@font-face {
	font-family: "PT Serif";
	src: url("../../assets/fonts/PTSerif-Regular.ttf");
}

@font-face {
	font-family: "PT Serif Bold";
	src: url("../../assets/fonts/PTSerif-Bold.ttf");
}

.list-group-item {
    margin-right: 2%;
}

.book-title {
    font-family: 'PT Serif Bold';
    font-size: 40px;
    width: 100%;
    height: 50%;
}

.author {
    font-family: 'PT Serif';
    margin-left: 2%;
}


.date {
    font-family: 'PT Serif';
    margin-left: 2%;
}


.description {
    font-family: 'PT Serif';
    margin-left: 2%;
}