@font-face {
	font-family: "PT Serif";
	src: url("../../assets/fonts/PTSerif-Regular.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("../../assets/fonts/Gotham.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("../../assets/fonts/GothamBold.ttf");
}

@font-face {
    font-family: "Gotham Medium";
    src: url("../../assets/fonts/GothamMedium_1.ttf");
}

@font-face {
	font-family: "PT Serif Bold";
	src: url("../../assets/fonts/PTSerif-Bold.ttf");
}


.Profile-container h2 {
    font-family: "PT Serif Bold";
}

.Profile-container h3 {
    font-family: "Gotham";
}
.Profile-illustration {
    width: 25%;
    margin-bottom: 35px;
}


.Profile-container {
    
    margin-bottom: 100px;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    

}