@font-face {
	font-family: "PT Serif";
	src: url("../../assets/fonts/PTSerif-Regular.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("../../assets/fonts/Gotham.otf") format("opentype");
}


.navbar {
    display: flex;
    flex-direction: row;
    margin-right: 40px;

}
  
.navbar-item {  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: black;
    font-family: 'Gotham';
    
    width: 140px;
    height: 100px;
}

.navbar-item:hover {
    color: blue;
}

.profile-pic {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: -5px;
    margin-top: -3px;
    
}

.profile-pic-big {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: -5px;
    margin-top: -3px;
    
}

.loader-navbar {
    margin-top: 30px;
    margin-left: 100px;
}