@font-face {
    font-family: "Gotham";
    src: url("../../assets/fonts/Gotham.otf") format("opentype");
}

.buttons{
	display: flex;
	flex-direction: column;
	/*border: 1px solid black;*/
	align-items: center;
	justify-content: center;
	width: 20%;
	margin: 5px 50px 150px 150px;

}

.button-item-a:hover {
	color: #0340AD;

}

.button-item:hover {
	color: #0340AD;
	transition: 0.3s;
}

.button-item{
	color: black;
	text-decoration-line: none;
	font-family: Gotham;
	font-size: 16px;
	border-bottom: 1px solid black;
	width: 300px;
	text-align: center;
	padding: 10px;
}

.button-item-a{
	color: black;
	text-decoration-line: none;
	transition: 0.3s;

}

#button-item-top{
	border-top: 1px solid black;
}
