
@font-face {
	font-family: "PT Serif";
	src: url("../../assets/fonts/PTSerif-Regular.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("../../assets/fonts/Gotham.otf") format("opentype");
}

.update-publications{
	color: black;
	font-family: Gotham;
	/*border: 1px solid black;*/
	width: 500px;
	height:500px;
	margin-bottom: 580px;
/*	display: flex;*/
}	

.books-label{
	font-size: 20px;
	font-family: Gotham;
}

.input{
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	background-color: white;
	height: 30px;
}

input[type="date"]{
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	font-size:18px;
	height: 30px;
	margin-left: 0px;
	transform: scale(1);

}

.submit{
	font-size: 20px;
	float: right;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	margin-top: 20px;
	background-color: #16529E;
}

.label-mini{
	font-size: 12px;
	margin-left: 10px;
}