
@font-face {
	font-family: "PT Serif";
	src: url("../../assets/fonts/PTSerif-Regular.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("../../assets/fonts/Gotham.otf") format("opentype");
}

.create-books{
	color: black;
	font-family: Gotham;
	/*border: 1px solid black;*/
	margin-bottom: 100px;
/*	display: flex;*/
}	

.books-label{
	font-size: 18px;
}

.ant-input{
	margin-bottom: 15px;
	background-color: white;
}

input[type="date"]{
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	font-size:18px;
	height: 30px;
	margin-left: 0px;
	transform: scale(1);

}

.submit-book:hover {

	
	background-color: white;
	color: #16529E;
	

}


.submit-book{
	transition-duration: 0.4s;
	background-color: #16529E; /* Green */
  	border: 1px solid #16529E;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 4px 2px;
  	cursor: pointer;
	font-size: 16px;
	float: right;
}
.label-mini{
	font-size: 12px;
	margin-left: 10px;
}