@font-face {
	font-family: "PT Serif";
	src: url("../assets/fonts/PTSerif-Regular.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham.otf") format("opentype");
}


.footer{
	
	background-color: #1A1A19;
	color:#FFFFFF;
	display: flex;
	white-space: pre;
	justify-content: space-between;
	height: 300px;
	font-family: Gotham;
}

.group1{
	padding: 30px 50px 40px 60px;
	text-align: justify;
	width: 50%;
}

.group1 h2{
	color: #FFFFFF;
	font-size: 30px;
	padding: 0px;
	margin: 0px;
	font-family: 'PT Serif', serif;
}

.group1 h3 {
	font-size: 15px;
}

.details h3{
	color: #969696;
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 0px;
}

.group2 h3{
	color: #969696;
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	
	padding: 20px;
}

.ics-details{
	color: #969696;
	white-space: normal;
	font-size: 15px;
	margin-top: 20px;
}

.final{
	
	display: flex;
	justify-content: space-between;

	margin-top: 10px;
}

.links{
	filter: invert(76%) sepia(0%) saturate(1850%) hue-rotate(7deg) brightness(93%) contrast(115%);
	margin-top: 20px;
	margin-right: 80px;
}

.imagesLinks{
	width: 30px;
	height:30px;
	margin-right: 10px;
}