@font-face {
	font-family: "PT Serif";
	src: url("../assets/fonts/PTSerif-Regular.ttf");
}

@font-face {
	font-family: "PT Serif Bold";
	src: url("../assets/fonts/PTSerif-Bold.ttf");
}
.header {
    margin-top: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;

    

    border-style: none none solid none;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    
}


.logo {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom:10px;
    
}


.navbar {
    display: flex;
    justify-content: center;
}

.title {
    flex-direction: column;
    flex-wrap: wrap;
    width: 375px;
    height: 100px;
    margin-left: 20px;
    margin-top: 12px;
}

.maintitle {
    font-family: 'PT Serif';
    font-size: 40px;
}

.subtitle {
    font-family: 'Gotham';
}